html {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  height: 100%
}

body {
  font-size: small;
  margin: 0;
  background: #fff;
  color: #4d5156;
  background-color: #fff;
  overflow: initial;
  font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
  height: 100%
}

textarea {
  height: calc(100% - 56px - 49px);
  resize: none;
  border: none;
  width: 100%;
  font-size: 18px;
  padding: 12px;
  box-sizing: border-box;
  font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}

:focus {
  outline: none;
}