body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    background: #4CAF50;
    width: 100%;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}