html {
    height: 100%;
    overflow: visible;
}

body {
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, .87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    text-size-adjust: 100%;
    overflow: visible;
    overflow-y: scroll;
    bottom: auto;
    height: 100%;
    right: auto;
    width: auto;
}

.heading {
    margin: 0;
    padding-top: 2px;
    font-family:
}

.heading {
    margin: 0;
    padding-top: 2px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2rem;
    font-size: 22px;
}

.heading-right {

    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;

}

.heading-top {

    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;

}

.heading-wrapper {

    border-bottom: 1px solid #dadce0;
    margin: -12px -16px 0;
    padding: 8px 16px;

}