# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.idea

# Node.js
node_modules/
miniprogram_npm

*.bat
app/handlers/V1Picture.go
app/handlers/V1UserUpdate.go
app/assets/*.exe
server/nginx*.conf
server/Yoga*.service
app/assets/dataSourceName.txt
server/Nginx
server/Extension
server/FileMove
*.exe
target
Cargo.lock
yg/packages
yg/yg/bin
yg/yg/obj