[Unit]
Description=瑜伽约课微信小程序后端服务

[Service]
WorkingDirectory=/root/bin
Environment=DATA_SOURCE_NAME=""
Environment=AUTH_URL=""
ExecStart=/root/bin/y
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Yoga
User=root
StandardOutput=file:/root/bin/StandardOutput.log
StandardError=file:/root/bin/StandardError.log

[Install]
WantedBy=multi-user.target

