html {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

body {
    font-size: small;
    margin: 0;
    background: #fff;
    color: #4d5156;
    background-color: #fff;
    overflow: initial;
    font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}

.wrapper {
    margin: 16px 20px;
}

.item {
    border-top: 1px solid #dadce0;
    padding: 8px 0;
    min-height: 43px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.item-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: .07272727em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #5f6368;
    line-height: .6875rem;
    margin-right: 8px;
    white-space: nowrap;

}