html, body, h1 {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

head, body, head *, body * {
    max-height: 999999px;
}

body, h1 {
    font-size: small;
}

body {
    margin: 0;
    background: #fff;
    color: #4d5156;
}

.section {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: small;
    display: block;
    padding: 11px 16px 11px;
    background-color: #fff;
    margin: 0 0 8px 0;
    box-shadow: 0 0 0 1px #ebedef;
    border-radius: 0;
}

.item {
    display: flex;
    color: #70757a;
    padding: 12px 0;
    overflow: hidden;
    max-width: 100%;
}

.item svg {
    fill: currentColor;
}

.separator {
    border-top: 1px solid #dadce0;
    margin: 0 16px;
    border-bottom: none
}

.item-avatar {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    margin-right: 16px;
}

.item-title {
    line-height: 26px;
    font-size: 20px;
    color: #202124;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: normal
}

.item-right {
    height: 18px;
    width: 18px;
    padding: 15px;
    flex-shrink: 0;
}

.item-main {
    flex-grow: 1;
}
