html, body, h1 {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

head, body, head *, body * {
    max-height: 999999px;
}

body, h1 {
    font-size: small;
}

body {
    margin: 0;
    background: #fff;
    color: #4d5156;
}

.section {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: small;
    display: block;
    padding: 11px 16px 11px;
    background-color: #fff;
    margin: 0 0 8px 0;
    box-shadow: 0 0 0 1px #ebedef;
    border-radius: 0;
}
