html {
    word-wrap: break-word;
    color: #030303;
    background-color: #fff;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-size: 1.2rem;
    overflow-x: hidden
}

input,
textarea {
    background-color: transparent;
    padding-bottom: 4px;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin-bottom: 1px;
    font: inherit;
    color: #030303
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #606060;
    opacity: 1
}

input::placeholder,
textarea::placeholder {
    color: #606060;
    opacity: 1
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    min-height: 8.4rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px
}

input {
    border-bottom: 1px solid #737373;
    text-overflow: ellipsis
}

input:focus {
    margin-bottom: 0;
    border-bottom-width: 2px;
    border-bottom-color: #030303
}

form {
    margin: 0
}

a {
    color: currentColor;
    text-decoration: none
}

strong,
b {
    font-weight: 500
}

h1,
h2,
h3,
h4 {
    margin: 0 0 3px
}

h1,
h2,
h3,
h4,
.subhead {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 2.5em;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.25;
    text-overflow: ellipsis;
    font-weight: normal
}

h2 {
    font-size: 1.8rem
}

h3 {
    font-size: 1.4rem
}

h4 {
    font-size: 1.3rem
}

.subhead {
    opacity: .6
}

img {
    min-width: 1px;
    min-height: 1px;
    -webkit-filter: none;
    filter: none
}

.background-image {
    -webkit-filter: none;
    filter: none
}

.bottom-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 90%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 90%)
}

img:not([src]) {
    visibility: hidden
}

:focus {
    outline: none
}

.option {
    background-color: #fff
}

.title {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal
}

p {
    margin: 8px 0;
    line-height: 1.25
}


.back-button {
    text-size-adjust: 100%;
    visibility: visible;
    -webkit-font-smoothing: auto;
    font-size: 24px;
    width: 48px;
    height: 48px;
    padding: 12px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    outline: none;
    fill: currentColor;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    overflow: visible;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: transform, opacity;
    z-index: 0;
    background: rgba(0, 0, 0, 0.38);
    border: 1px solid transparent;
    border-radius: 35px;
    color: #fff;
    margin-top: 16px;
}

.header {
    align-items: center;
    display: flex;
    position: absolute;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    color: #202124;
    height: 52px;
    max-width: 768px;
    padding: 0 8px;
    width: calc(100% -(2 * 8px));
    left: 0;
    right: 0;
    top: 3px;
}

.top {
    position: relative;
    height: 168px;
}

.details {
    margin: 20px 24px 0;
}

.h1 {
    margin: 0 0 4px;
    padding: 0;
    text-align: left;
    font: 400 20px / 24px "Google Sans", Roboto, Arial, sans-serif;
    letter-spacing: normal;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 48px;
    white-space: normal;
}
.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.h2 {
    text-size-adjust: 100%;
    -webkit-font-smoothing: auto;
    font: 400 14px / 20px Roboto, Arial, sans-serif;
    letter-spacing: 0.2px;
    visibility: visible;
    -webkit-tap-highlight-color: transparent;
    margin: 0 0 5px;
    padding: 0;
    color: #5f6368;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 490px;
    text-align: left;
    width: 100%;
    white-space: normal;
}
.actions {
    text-size-adjust: 100%;
    -webkit-font-smoothing: auto;
    font: 400 14px / 20px Roboto, Arial, sans-serif;
    letter-spacing: 0.2px;
    color: #70757a;
    visibility: visible;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: space-around;
    margin: 16px 12px 0;
}
.action {
    text-size-adjust: 100%;
    visibility: visible;
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -webkit-appearance: none;
    overflow: visible;
    vertical-align: middle;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: transform, opacity;
    border-radius: 4px;
    transition: border 280ms cubic-bezier(0.4,0,0.2,1), box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    box-shadow: none;
    font: 400 12px / 16px Roboto, Arial, sans-serif;
    letter-spacing: 0.3px;
    height: auto;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    flex: 0 1 auto;
    justify-content: flex-start;
    text-align: center;
    width: 84px;
    background-color: transparent;
    padding: 0;
    color: #1967d2;
}
.action > svg {
    fill: currentColor;
    flex-shrink: 0;
    margin-bottom: 8px;
}

.action-text {
    text-size-adjust: 100%;
    visibility: visible;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    font: 400 12px / 16px Roboto, Arial, sans-serif;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.section {
    border-top: solid 1px #e5e5e5;
    padding: 0 16px;
}
.disabled {
    color: rgba(0, 0, 0, .5);
}

